body
{
  font-family:"Times New Roman";
}
#left
{
  position:absolute;
  top:1%;
  bottom:1%;
  left:1%;
  right:73%;
  height:100%;
  width:20%;
  overflow:scroll;

  
}
#right
{
  position:absolute;
  right:1%;
  top:1%;
  bottom:1%;
  left:22%;
  height:100%;
  width:73%;
  background: #FFFFFE;
}
.technology>li
{
  border:1px solid gray;
  width:35%;
  background:lightgray;
  margin:2px;
  display:inline-block;
}
#address
{ 

}

#skills>li
{
  
}
#education>li>ul>li,#education>li,#iiljin>li,#achievements>li,#projects>li>ul>li,#projects>li
{
  display:block;
}
