@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&display=swap');

body
{
  font-family:"Times New Roman";
}

h1,h2,h3{
  font-family: 'Dancing Script', cursive;
}

ul,blockquote {
  font-family: 'Amiri', serif;
}

#left
{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:300px;
  overflow: scroll;
  margin-left: 1%;
}
#right
{
  position:absolute;
  top:0;
  left:0;
  right: 0;
  height:100%;
  margin-left: 350px;
  min-width: 620px;
  overflow: scroll;
}
.technology>li
{
  border:1px solid gray;
  width:35%;
  background:#D3D3D3;
  margin:2px;
  display:inline-block;
  text-align: center;
  font-size: 14px;
}
#address
{ 
  list-style-image:url("address.jpg");
}

#phone
{ 
  list-style-image:url("phone.jpg");
}

#email
{
  list-style-image:url("email.jpg");
}
#github
{
  list-style-image: url("github.jpg");
}
#codepen
{
  list-style-image: url("codepen.png");
}
#kaggle
{
  list-style-image: url("kaggle.png");
}
#linkedin
{
  margin-left: -32px;
	background-image: url("linkedin.png");
	background-repeat: no-repeat;
	background-size: 25px;
}

#linkedin span {
  position: relative;
  left: 30px;
}

#References>li,#education>li>ul>li,#education>li,#projects>li>ul>li,#projects>li
{
  display:block;
}
#achievements>li
{
  display: block;
}
.gray>li,.gray>li
{
  display: block;
  color: gray;
}
.inlineblock>li
{
  display: inline;
  background: lightgray;
  /* padding: 0.5%; */
  margin-right: 1%;
  border: 1px solid gray;
  font-size: 12px; 
}
.summer>li
{
  display: inline-block;
}
