@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&display=swap');
@page {
  size: auto;
  margin: 0;
}

#left h1 {
  line-height: 2px;
  font-size: 3em;
  width: 1000px;
  margin-top: -25px;
}

h1,h2,h3{
  font-family: 'Dancing Script', cursive;
}

#contact {
  margin-top: 60px;
}

ul,blockquote {
  font-family: 'Amiri', serif;
}

hr {
  position: absolute;
  left: 1%;
  right: 1%;
  top: 140px;
  height: 5px;
  background-color: gray;
}

#left
{
  position:absolute;
  top:0px;
  left:0;
  height:100%;
  width:300px;
  /* overflow: scroll; */
  margin-left: 1%;
  margin-top: 90px;
}

#right
{
  position:absolute;
  top:0;
  left:0;
  right: 0;
  height:100%;
  margin-left: 350px;
  min-width: 620px;
  /* overflow: scroll; */
  margin-top: 120px;
}
.technology>li
{
  border:1px solid gray;
  width:35%;
  background:#D3D3D3;
  margin:2px;
  display:inline-block;
  text-align: center;
  font-size: 14px;
  -webkit-print-color-adjust: exact;
}
#address
{ 
  list-style-image:url("address.jpg");
}

#phone
{ 
  list-style-image:url("phone.jpg");
}

#email
{
  list-style-image:url("email.jpg");
}
#github
{
  list-style-image: url("github.jpg");
}
#codepen
{
  list-style-image: url("codepen.png");
}
#kaggle
{
  list-style-image: url("kaggle.png");
}
#linkedin
{
  list-style-image: url("linkedin.jpg");
}

#References>li,#education>li>ul>li,#education>li,#projects>li>ul>li,#projects>li
{
  display:block;
}
#achievements>li
{
  display: block;
}
.gray>li,.gray>li
{
  display: block;
  color: gray;
  -webkit-print-color-adjust: exact;
}
.inlineblock>li
{
  display: inline;
  background: lightgray;
  /* padding: 0.5%; */
  margin-right: 1%;
  border: 1px solid gray;
  font-size: 12px; 
  -webkit-print-color-adjust: exact;
}
.summer>li
{
  display: inline-block;
}
