body
{
  font-family:"Times New Roman";
}
#left
{
  position:absolute;
  top:1%;
  bottom:1%;
  left:1%;
  height:1180px;
  width:20%;
  overflow: scroll;
  
}
#right
{
  position:absolute;
  top:1%;
  left:22%;
  height:1180px;
  width:77%;
  background: #FFF;
}
.technology>li
{
  border:1px solid gray;
  width:35%;
  background:lightgray;
  margin:2px;
  display:inline-block;
}
#address
{ 
  list-style-image:url("address.jpg");
}

#phone
{ 
  list-style-image:url("phone.jpg");
}

#email
{
  list-style-image:url("email.jpg");
}
#github
{
  list-style-image: url("github.jpg");
}
#codepen
{
  list-style-image: url("codepen.png");
}
#kaggle
{
  list-style-image: url("kaggle.png");
}
#References>li,#education>li>ul>li,#education>li,#projects>li>ul>li,#projects>li
{
  display:block;
}
#achievements>li
{
  display: block;
}
.gray>li,.gray>li
{
  display: block;
  color: gray;
}
.inlineblock>li
{
  display: inline;
  background: lightgray;
  padding: 0.5%;
  margin-right: 1%;
  border: 1px solid gray;
  font-size: 12px; 
}
.summer>li
{
  display: inline-block;
}
