.dbproj {
  position: absolute;
  top:10%;
  left: 1%;
  height: 295px;
  width: 485px;
  border-radius: 20%;
  background: #464646;
  color: white;
}

.dbproj p {
  position: absolute;
  top: 30%;
  left: 50%;
  font-family: 'Pattaya', sans-serif;
  text-align: center;
  transform: translate(-50%,-50%);
  font-size: 3rem;
}

.dbproj:hover {
  position: absolute;
  height: 695px;
  width: 95%;
  border-radius: 20%;
  background: #464646;
  color: white;
  z-index: 1;
}

.chatbot {
  position: absolute;
  top:10%;
  right: 1%;
  height: 295px;
  width: 485px;
  border-radius: 20%;
  background: #464646;
  color: white;
}

.chatbot p {
  position: absolute;
  top: 30%;
  left: 50%;
  font-family: 'Pattaya', sans-serif;
  text-align: center;
  transform: translate(-50%,-50%);
  font-size: 3rem;
}

.chatbot:hover {
  position: absolute;
  height: 695px;
  width: 95%;
  border-radius: 20%;
  background: #464646;
  color: white;
  z-index: 1;
}

.face_rec {
  position: absolute;
  top:60%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 295px;
  width: 485px;
  border-radius: 20%;
  background: #464646;
  color: white;
}

.face_rec p {
  position: absolute;
  top: 30%;
  left: 50%;
  font-family: 'Pattaya', sans-serif;
  text-align: center;
  transform: translate(-50%,-50%);
  font-size: 3rem;
}

.face_rec:hover {
  position: absolute;
  height: 695px;
  width: 95%;
  border-radius: 20%;
  background: #464646;
  color: white;
  z-index: 1;
}

.face_rec:hover p + .hidden_layer, .chatbot:hover p + .hidden_layer, .dbproj:hover p + .hidden_layer{
  visibility: visible;
  top:30%;
  height: 10px;
  font-size: 2rem;
}

.hidden_layer {
  visibility: hidden;
}

.face_rec:hover p, .chatbot:hover p, .dbproj:hover p{
  top:10%;
}