@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
body {
    margin: 0;
    padding: 0;
    
}
h2 {
    position: absolute;
    top: 4800px;
    left: 50%;
    font-family: 'Pattaya', sans-serif;
    font-size: 5rem;
    text-align: center;
    min-width: 600px;
    transform: translate(-50%,-50%);
}
.one {
    position: absolute;
    height: 100%;
    min-height:1000px;
    width: 100%;
    min-width: 1000px;
    background-image: url('../Content/iron_man.jpg');
    background-repeat: no-repeat no-repeat;
    background-size: 170%;
}

#about {
    position: absolute;
    left: 1%;
    left: 1%;
    width: 30%;
    vertical-align: middle;
    line-height: 90px;
    font-size: 5rem;
    color: #CCA77B;
    font-family: 'Pattaya', sans-serif;

}

#one_content {
    position: relative;
    height: 10%;
    min-height: 80px;
    width: 155px;
    border-radius: 50%;
    top:80%;
    left: 50%;
    background: green;
    transform: translate(-50%,-50%);
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

#education {
    position: absolute;
    height: 10%;
    min-height: 80px;
    width: 185px;
    border-radius: 20%;
    top:10%;
    left: 85%;
    background: #464646;
    transform: translate(-50%,-50%);
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    font-family: 'Pattaya', sans-serif;

}

#skills {
    position: absolute;
    height: 10%;
    min-height: 80px;
    width: 185px;
    border-radius: 20%;
    top:35%;
    left: 85%;
    background: #464646;
    transform: translate(-50%,-50%);
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    font-family: 'Pattaya', sans-serif;
}

#projects {
    position: absolute;
    height: 10%;
    min-height: 80px;
    width: 185px;
    border-radius: 20%;
    top:60%;
    left: 85%;
    background: #464646;
    transform: translate(-50%,-50%);
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    font-family: 'Pattaya', sans-serif;
}

#training {
    position: absolute;
    height: 10%;
    min-height: 80px;
    width: 185px;
    border-radius: 20%;
    top:85%;
    left: 85%;
    background: #464646;
    transform: translate(-50%,-50%);
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    font-family: 'Pattaya', sans-serif;
}

#two {
    position: absolute;
    top: 1100px;
    height: 1200px;
    min-height: 1000px;
    width: 100%;
    min-width: 1000px;
}
#three {
    position: absolute;
    top: 2401px;
    height: 1200px;
    min-height: 800px;
    width: 1200px;
    width: 100%;
    min-width: 1000px;
}
#four {
    position: absolute;
    top: 3700px;
    height: 1200px;
    min-height: 800px;
    width: 100%;
    min-width: 1000px;
}
#five {
    position: absolute;
    top: 5000px;
    height: 1050px;
    min-height: 800px;
    width: 100%;
    min-width: 1000px;
}