.programmingskills {
  position: absolute;
  top:10%;
  left: 1%;
  height: 295px;
  width: 485px;
  border-radius: 20%;
  background: #464646;
  color: white;
}

.programmingskills p {
  position: absolute;
  top: 30%;
  left: 50%;
  font-family: 'Pattaya', sans-serif;
  text-align: center;
  transform: translate(-50%,-50%);
  font-size: 3rem;
}

.programmingskills:hover {
  position: absolute;
  right: 1%;
  height: 695px;
  width: 95%;
  border-radius: 20%;
  background: #464646;
  color: white;
  z-index: 1;
}

.technology {
  position: absolute;
  top:10%;
  right: 1%;
  height: 295px;
  width: 485px;
  border-radius: 20%;
  background: #464646;
  color: white;
}

.technology p {
  position: absolute;
  top: 30%;
  left: 50%;
  font-family: 'Pattaya', sans-serif;
  text-align: center;
  transform: translate(-50%,-50%);
  font-size: 3rem;
}

.technology:hover {
  position: absolute;
  right: 1%;
  height: 695px;
  width: 95%;
  border-radius: 20%;
  background: #464646;
  color: white;
  z-index: 1;
}

.database {
  position: absolute;
  top:60%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 295px;
  width: 485px;
  border-radius: 20%;
  background: #464646;
  color: white;
}

.database p {
  position: absolute;
  top: 30%;
  left: 50%;
  font-family: 'Pattaya', sans-serif;
  text-align: center;
  transform: translate(-50%,-50%);
  font-size: 3rem;
}

.database:hover {
  position: absolute;
  right: 1%;
  height: 695px;
  width: 95%;
  border-radius: 20%;
  background: #464646;
  color: white;
  z-index: 1;
}

.database:hover p + .hidden_layer, .programmingskills:hover p + .hidden_layer, .technology:hover p + .hidden_layer{
  visibility: visible;
  top:20%;
  font-size: 2rem;
  width: 90%;
  height: 10px;
}

.hidden_layer {
  visibility: hidden;
}

.programmingskills:hover p, .database:hover p, .technology:hover p {
  top: 10%;
}